.html{
    background: gray;
}

#pokemonTitle {
    display: flex;
    justify-content: center;
}
.center-text{
    display: flex;
    justify-content: center;
}


.center-data{
    border: 1px blue solid;
    /*border-color: red;*/
}