.html{
    background: gray;
}

#pokemonTitle {
    display: flex;
    justify-content: center;
}
.center-text{
    display: flex;
    justify-content: center;

}


.center-data{
    border: 1px blue solid;
    /*border-color: red;*/
}

#pokemon-desc{
    border: 1px greenyellow solid;
    height: 500px;
    width: 900px;
}

#pokemonCard{
    background-image: url("/assets/pokedex-template.jpeg");
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    width: 900px;
}
.h1{
    color: white;
}